## Основы питона

На данном занятии мы познакомимся с основами языка python и некоторыми библиотеками, которые нам в дальнейшей понадобятся

Ссылки на полезные источники:

http://www.machinelearning.ru/wiki/images/9/93/PZAD2017_c1_python.pdf - полноценный обзор основных вещей

https://github.com/Dyakonov/python_hacks/blob/master/dj_python_0_intro_20181004.ipynb - краткое введение

https://github.com/Dyakonov/IML/blob/master/IML2018_03_numpy_04.pdf - библиотеки numpy, matplotlib, scipy

https://github.com/Dyakonov/IML/blob/master/IML2018_08_pandas_01.pdf - библиотека pandas

Поехали!

Питон можно использовать как калькулятор

In [151]:
a = 5 # целое число (int)
b = 13.3 # число с плавающей точкой (десятичная дробь/float)
# функция print() выводит на печать
print(a + b)
print(a - b)
print(abs(a - b)) # модуль
print(a/b)
print(a//b) # целая часть от деления
print(a*b)
print(a%b) # целая часть от деления
print(a**b) # возведение в степень
print(a**(1/b)) # взятие корня степени b
print(int(b)) # берёт нижнюю целую часть числа
print(float(a)) # переводит в тип float

18.3
-8.3
8.3
0.37593984962406013
0.0
66.5
5.0
1978340572.134722
1.1286366155414684
13
5.0

### Основные типы данных

#### Список (list)

In [138]:
a = [1, 1, 2, 3, 5, 8, 13]
b = list([-1, 0, 1, 0, 0, 10])
c = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
d = [] # пустой список
print(a)
print(b)
print(c)
print(d)

[1, 1, 2, 3, 5, 8, 13]
[-1, 0, 1, 0, 0, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[]

In [139]:
#  возвращает длину списка
print(len(a))
print(len(b))
print(len(c))
print(len(d))

7
6
11
0

In [37]:
# возвращает сумму элементов списка
print(sum(a))
print(sum(b))
print(sum(c))

33
10
55

In [39]:
# возвращает конкатенированный список
print(a + b) 
print(a + c + b)

[1, 1, 2, 3, 5, 8, 13, -1, 0, 1, 0, 0, 10]
[1, 1, 2, 3, 5, 8, 13, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, -1, 0, 1, 0, 0, 10]

Слайсинг:

In [43]:
# вернёт часть списка - нулевой, первый и второй (всего 3 элемента) элементы. В Питоне индексация начинается с 0.
print(c[:3])

[0, 1, 2]

In [48]:
# вернёт часть списка - с 5ой позиции (помним что индексация с 0) по предпоследний элемент.
print(c[5:-1])

[5, 6, 7, 8, 9]

In [54]:
# Вернётся все элементы с 0ого по предпоследний с шагом 2
print(c[0:-1:2])

[0, 2, 4, 6, 8]

In [55]:
# Перевернёт список с обратную сторону
print(c[::-1])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [93]:
# Добавление 1 значения в список
c.append(-100)
print(c)
# Что будет если исполнить эту ячейку ещё раз?

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, -100]

In [95]:
# Можно добавить несколько значений в список
c.extend([-1, -2, -3])
print(c)
# Что будет если сделать то же самое, но коммандой .append()?

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, -100, -1, -2, -3, [-1, -2, -3]]

In [100]:
# Можно добавить элемент вначало списка
c[0:0] = [15]
print(c)
# Можно так же добавить несколько элементов вначало списка
c[0:0] = [-1, -2, -3]
print(c)

[15, 15, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, -100, -1, -2, -3]
[-1, -2, -3, 15, 15, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, -100, -1, -2, -3]

In [90]:
# Можно удалить значение из списка
c.remove(1)
print(c)
# Если таких значений в списке несколько - удалит первое
b.remove(0)
print(b)

[0, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[-1, 1, 0, 0, 10]

#### Множество (set)

Множество, как в математике - список уникальных элементов

In [72]:
a = set([1, 1, 1, 2, 3, 4, 4, 4, 5, 6]) 
b = {5, 5, 5, 6, 6, 6, 100, 200, 200, 200, 300, 300, 300}
print(a)
print(b)

{1, 2, 3, 4, 5, 6}
{100, 5, 6, 200, 300}

In [73]:
# возвращает сумму элементов множества
print(sum(a))
print(sum(b))

21
611

In [74]:
# множества можно объединять
print(a.union(b))
# можно брать разность 
print(a.difference(b)) # что вернёт b.difference(a) ?
# можно брать симметрическую разность
print(a.symmetric_difference(b))

{1, 2, 3, 4, 5, 6, 100, 200, 300}
{1, 2, 3, 4}
{1, 2, 3, 4, 200, 100, 300}

Полезное свойство множества: если вам нужно найти список уникальных значений - можно взять set() от списка

In [76]:
a = [1, 1, 1, 2, 3, 4, 4, 4, 5, 6]
print(a)
print(set(a))

[1, 1, 1, 2, 3, 4, 4, 4, 5, 6]
{1, 2, 3, 4, 5, 6}

#### Строка (string)

In [108]:
a = 'Some text, saved as a string'
b = 'One more text - why not?!'
print(a)
print(b)

Some text, saved as a string
One more text - why not?!

In [103]:
# Строки можно конкатенировать
print(a + b)
print(a + ' ' + b)

Some text, saved as a stringOne more text - why not?!
Some text, saved as a string One more text - why not?!

In [114]:
# Строку можно "расщепить" в список
g = a.split()
print(g)
# А можно обратно объединить список в строку
f = ' '.join(g)
print(f)

['Some', 'text,', 'saved', 'as', 'a', 'string']
Some text, saved as a string

In [123]:
# Можно привести текст к нижнему регистру
print(a.lower())
# Или все буквы капслоком
print(a.upper())

some text, saved as a string
SOME TEXT, SAVED AS A STRING

In [121]:
# Можно заменить какой-то символ в строке на другой
print(a.replace('s', '<!!!>'))
# Как с помощью методы .replace() удалить символ ?

Some text, <!!!>aved a<!!!> a <!!!>tring
Some text, aved a a tring

In [127]:
# Считает длины текстов - количество символов (символ ' ' - тоже считается за 1, а '' - пустой символ, то есть не считается)
print(len(a))
print(len(b))

28
25

In [129]:
# По строкам тоже можно делать слайсинги
print(a[3:15])
print(b[::-1])
# Если нам нужно например 3 слово, то можно сделать так
print(a.split()[2])

e text, save
!?ton yhw - txet erom enO
saved

#### Словарь (dict)

Словарь - он и в Африке словарь - по ключу выдаёт значение

In [143]:
names_dict = {'Маша': 19, "Света": 21, "Кирилл": 20, "Василий Петрович": 45}
salary_dict = dict(zip(['Маша', "Света", "Кирилл", "Василий Петрович"], [60, 100, 50, 60]))
print(new_dict)
print(salary_dict)

{'Маша': 19, 'Света': 21, 'Кирилл': 20, 'Василий Петрович': 45}
{'Маша': 60, 'Света': 100, 'Кирилл': 50, 'Василий Петрович': 60}

In [133]:
# Мы хотим узнать возраст Маши
print(names_dict['Маша'])
# Сколько зарабатывает Василий Петрович
print(salary_dict['Василий Петрович'])

19
60

In [134]:
# Какие ключи есть в нашем словаре
print(names_dict.keys())

dict_keys(['Маша', 'Света', 'Кирилл', 'Василий Петрович'])

In [135]:
# Из этих ключей можно сделать список
print(list(names_dict.keys()))

['Маша', 'Света', 'Кирилл', 'Василий Петрович']

In [141]:
# То же самое, можно сделать со значениями
print(list(names_dict.values()))

[19, 21, 20, 45]

In [144]:
# Кирилла повысили! Ему прибавили зп на Х, где Х это разница зп Светы и Василия Петровича - обновим словарь с зп
salary_dict['Кирилл'] = salary_dict['Кирилл'] + salary_dict['Света'] - salary_dict['Василий Петрович']
# Можно было так
# salary_dict['Кирилл'] += salary_dict['Света'] - salary_dict['Василий Петрович']
print(salary_dict)

{'Маша': 60, 'Света': 100, 'Кирилл': 90, 'Василий Петрович': 60}

In [152]:
# Маша хочет знаменитой певицей, и думает что имя Персивальда ей подходит больше - обновим таблицу
names_dict['Персивальда'] = names_dict['Маша']
del names_dict['Маша'] # удаляем старую запись
salary_dict['Персивальда'] = salary_dict['Маша']
del salary_dict['Маша']
print(names_dict)
print(salary_dict)

{'Света': 21, 'Кирилл': 20, 'Василий Петрович': 45, 'Персивальда': 19}
{'Света': 100, 'Кирилл': 90, 'Василий Петрович': 60, 'Персивальда': 60}

In [153]:
# В компании друзей новый человек - Костя. Ему 30 лет, и он зарабатывает 80к. Давайте добавим его в словари двумя способами
# 1 способ
names_dict2 = {'Костя': 30}

{'Света': 21, 'Кирилл': 20, 'Василий Петрович': 45, 'Персивальда': 19}